<br><br><br><br>
<div class="container" >
    <div class="row col-md-6" style="border: 1px solid black; padding: 20px">
    <div class="col-md-12"><input placeholder="email" type="text" [(ngModel)]="email"></div><br><br>
    <div class="col-md-12"><input placeholder="password" type="text"  [(ngModel)]=password></div><br>
    <!-- <input placeholder="phone" type="text" [maxLength]="maxlengthPhone" [(ngModel)]="phoneNumber"><br> -->
    <br><div class="col-md-6"><button class="btn btn-primary" (click)="login()">Login</button></div><br>
    

</div>
</div>


