<br><br><br><br>
<div class="container" style="border: 1px solid black">
    <div class="row ">
        
<div class="col-md-9" style="padding: 20px">
    <div class="row col-md-9"><div class="col-md-3">User Name:</div> <div class="col-md-6"><input type="text" [(ngModel)]="user.name"></div></div>
    <br><div class="row col-md-9"><div class="col-md-3">email Id:</div> <div class="col-md-6"> <input type="text" [(ngModel)]="user.email"></div></div>
    <br><div class="row col-md-9"><div class="col-md-3">password:</div> <div class="col-md-6"><input type="password" [(ngModel)]="user.password"></div></div>

<div class="col-md-6">
        <br><button class="btn btn-warning" (click)="signup()">Sign Up</button>
</div>
</div>
</div>
</div>
