<!-- <div class="alert alert-success">
    <div class="alert-heading"><h3>{{product.name}}</h3></div>
    <div>Price: {{product.price}} /- Only</div>
     <div >color: {{product.color}} </div>   -->

<div class="" *ngIf="product.name">
     <div highlight (click)="showProductDetails()" class="card" style="width: 18rem;border: 1px solid black;cursor: pointer">
    <img [src]="product.image" class="card-img-top" alt="..." height="200" width="100">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Price: {{product.price | discount}} /- Only
          
            <div >Brand: {{product.brand}} </div> 
    </div>
  </div>
</div>