
<div class="dropdown">
       
        <div id="myDropdown" class="dropdown-content">
          <ul>
              
                <li (click)="filterProduct(6)">Remove Price Filter</li>
              <li (click)="filterProduct(1)" >500 - 1000</li>
              <li (click)="filterProduct(2)">1000 - 2000</li>
              <li (click)="filterProduct(3)">2000 - 5000</li>
              <li (click)="filterProduct(4)">5000 - 10000</li>
              <li (click)="filterProduct(5)">10000 - above</li>
          </ul>
        </div>
      </div>
