<div class="panel">
        <div class="panel-heading">Document Intro</div>
        <div class="panel-body">
          <p>
                Angular.json will provide details of which html/ts  files will be run first.

                By default it rum main.ts and index.html first
                
                    1- Can't bootstrap multiple modules. Still syntax accepts array
                    2- Html will only have property of class. Not the variable. (property will be defined within the class, not outside)
                    3-  events of javascript will come with names like "onclick", "onmousehover". Angular event names will be within brackets () , and  "on" will be removed from javaScript event names.
                    4- Property can be bind to ts value by using square brackets around property.
                    i.e:  [maxlength]="maxval"
                
          </p>
        </div>
      </div>